body,html{
    margin:0;
      padding:0;

}
input{
    width:220px;
      height:27px;
        border:1px black solid;
          margin:50px auto;

}
#eye{
    position:absolute;
      left:240px;
        top:56px;
          color:grey;

}
